body {
font-size: 16px;
line-height: 1.5;
font-family: "Roboto", "Arial", sans-serif;
letter-spacing: 0.5px;
}

.side-header {
  display: flex;
  align-items: center;
justify-content: space-between;
  background-color: #fff;
}

.logo-link {
  transition: 0.4s ease;
}
.logo-link:hover  {
  opacity: 0.8;
}
.logo-link:active {
  opacity: 0.6;
}

.side-header-actions {
  display: flex;
  align-items: center;
}

.sitenav-list {
  display: flex;
list-style: none;
}

.sitenav-link {
  font-weight: 500;
font-size: 13px;
line-height: 15px;
letter-spacing: 1px;
text-transform: uppercase;
text-decoration: none;
color: #000;
transition: color 0.4 ease,
opacity 0.4s ease ;

}
.sitenav-list:hover {
color: #ff5700;
}
.sitenav-list:active {
opacity: 0.6;
}

.main-link {
  font-size: 13px;
  line-height:15px;
  background-color: #ff5700;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.4 ease;
}

.main-link:hover {
  opacity: 0.8;
}
.main-link:active {
  opacity: 0.6;
}

.hero{
display: flex;
align-items: center;
justify-content: space-between;
background-color: #252420;
color: #fff;
}
.hero-contetn{
width: 390px;
}

.orange-line{
width: 80px;
height:3px;
background-color: #ff5700;
}

.hero-heading{
font-size: 40px;
line-height: 1.2;
font-family: "Roboto Condenset", "Roboto", "Arial", sans-serif;
}

.hero-immg{
width: 510px;
height: 510px;
}

.feartures-heading{
width: 440px;
font-size: 72px;
line-height: 1.2;
font-family: "Roboto Condensed","Roboto","Arial",sans-serif;
letter-spacing: 0.5px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.feature{
  width: 340px;
}

.feature-icon-wrapper{
width: 100px;
height: 100px;
background-color:rgba(255, 177, 0, 0.2);
}

.feature-title{
  font-size: 24px;
  line-height: 1.2;
 font-family:"Roboto Condensed","Roboto","Arial",sans-serif;
}

.promo{
display: flex;
justify-content: space-between;
align-items: center;
  background-color: #252420;
  color: #fff;
}
.promo-content{
width: 440px;
}

.promo-heading{
font-size: 40px;
line-height: 48px;
font-family:"Roboto Condensed","Roboto","Arial",sans-serif;
}

.hight-light{
color: #ff5700;
}

.promo-img{
  width: 440px;
  height: 440px;
  object-fit: cover;
}

.site-footer{
  background-color: #f8f8f8;
}

.site-footer-top {

display: flex;
justify-content: space-between;
  align-items: center;
}

.site-footer ul {
  list-style: none;
}
.site-footer-socials {
  display: flex;
  align-items: center;
}
.site-footer-socials a {
  color: #252420;
}

.site-footer-socials a:hover {
color: #ff5700;
}
.site-footer-socials a:active {
opacity: 0.6;
}

.site-footer-divider{
  height: 2px;
  background-color: rgba(37, 36, 32, 0.5);
}
.site-footer-bottom {
  display: flex;
}

.site-footer-links {
  width: 224px;
}

.site-footer-links a {
  color: #252420;
  text-decoration: none;
}

.site-footer-links a :hover {
color: #ff5700;
}
.site-footer-links a :focus {
opacity: 0.6;
}
